/* Reset and Standardising */
* {
  /* outline: var(--outline); */
  box-sizing: border-box;
  margin: 0vw;
  padding: 0vw;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.25vw;
  overflow: hidden;
}

:root {
  --darkColour: #333333;
  --lightColour: #efcb6e;
  --backColour: #f5f5f5;
  --outline: 0.2vw solid red;
  --small: 2vw;
  --medium: 5vw;
  --large: 7vw;
  --half: 50vw;
  --full: 100vw;
}

#rightText,
#leftText,
.nav,
#background {
  position: absolute;
  display: flex;
  flex-direction: column;
}
/* --------------------------------- */

/* Main title */
h1 {
  font-size: var(--large);
  width: var(--half);
}

h3 {
  font-size: var(--small);
  width: var(--half);
}

.rightBlackText {
  color: var(--darkColour);
}

#title1,
#location,
#name {
  margin-bottom: var(--small);
}

#rightText {
  top: 18vw;
  left: calc(var(--half) + 1vw);
}

#rightText h1 {
  color: var(--darkColour);
  text-shadow: 0.5vw 0.5vw 0 var(--lightColour);
  margin-bottom: var(--small);
}

#leftText {
  text-align: right;
  color: var(--lightColour);
  top: 18vw;
  right: calc(var(--half) + 0.5vw);
}
/* --------------------------------- */

/* Backgrounds */
body {
  background-color: var(--backColour);
}

#background {
  z-index: 0;
  background-color: var(--darkColour);
  outline: calc(var(--small) / 4) solid var(--lightColour);
  width: var(--half);
  height: var(--full);
}
/* --------------------------------- */

/* Navigation */
.nav {
  justify-content: space-around;
  color: var(--darkColour);
  right: var(--small);
  height: calc(var(--half) / 2);
}

button {
  font-size: var(--small);
  color: var(--darkColour);
  text-align: right;
  text-decoration: none;
  background-color: var(--backColour);
  border: none;
  cursor: pointer;
}

.nav a {
  opacity: 0;
  z-index: 1;
  font-size: var(--small);
  text-align: right;
  color: var(--darkColour);
  text-decoration: none;
  transform: translateX(-100%);
}
/* --------------------------------- */

/* Animation */
@keyframes removeBackground {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveInBackground {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes removeTitle {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveInTitle {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes navAnimation {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

button:active,
button:hover ~ a {
  opacity: 1;
  animation: navAnimation 0.5s linear 0s forwards;
}
a:hover,
button:focus  {
  text-shadow: var(--lightColour) 0.25vw 0.25vw 0;
}

.textOut {
  animation: removeTitle 3s linear 0s forwards;
}

.textIn {
  animation: moveInTitle 3s linear 0s;
}

.transitionOut {
  animation: removeBackground 3s linear 0s;
}
.transitionIn {
  animation: moveInBackground 3s linear 0s;
}
/* --------------------------------- */
